<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${title} + ' | Todo'">Todo</title>
    <link rel="stylesheet" th:href="@{/css/app.css}">
</head>
<body>
<header th:fragment="header" class="site-header">
    <a class="brand" th:href="@{/todos}">Todo</a>
</header>
<div th:fragment="flash" th:if="${message}" class="flash" th:text="${message}">メッセージ</div>
</body>
</html>
