{% extends "base.html" %}
{% block title %}{% if todo_id.is_none() %}新規作成{% else %}編集{% endif %}{% endblock %}
{% block content %}
    <h1>{% if todo_id.is_none() %}Todo を追加{% else %}Todo を編集{% endif %}</h1>

    <form action="{% if let Some(id) = todo_id %}/todos/{{ id }}{% else %}/todos{% endif %}" method="post" class="todo-form">
        <div class="field">
            <label for="title">タイトル</label>
            <input type="text" maxlength="100" id="title" name="title" value="{{ form.title }}"{% if errors.has("title") %} class="invalid"{% endif %}>
            {%- for err in errors.of("title") %}
            <p class="error">{{ err }}</p>
            {%- endfor %}
        </div>
        <div class="field">
            <label for="description">説明</label>
            <textarea rows="4" id="description" name="description"{% if errors.has("description") %} class="invalid"{% endif %}>{{ form.description }}</textarea>
            {%- for err in errors.of("description") %}
            <p class="error">{{ err }}</p>
            {%- endfor %}
        </div>
        <div class="field">
            <label for="dueDate">期限</label>
            <input type="date" id="dueDate" name="dueDate" value="{{ form.due_date }}"{% if errors.has("dueDate") %} class="invalid"{% endif %}>
            {%- for err in errors.of("dueDate") %}
            <p class="error">{{ err }}</p>
            {%- endfor %}
        </div>
        {%- if todo_id.is_some() %}
        <div class="field checkbox">
            <label>
                <input type="checkbox" id="done1" name="done" value="true"{% if form.done %} checked="checked"{% endif %}>
                <input type="hidden" name="_done" value="on"/> 完了</label>
        </div>
        {%- endif %}
        <div class="buttons">
            <button type="submit" class="primary">保存</button>
            <a class="button" href="/todos">キャンセル</a>
        </div>
    </form>
{% endblock %}
